/* h1{
    background-color: black
    ;
    color: red;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url("https://images.pexels.com/photos/10647646/pexels-photo-10647646.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    
} */